<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WIDS - Login</title>

    <!-- Stylesheets -->
    <link
      href="{{ url_for('static', filename='css/tailwind.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/all.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
      <div class="flex justify-center mb-8">
        <div class="flex items-center">
          <i class="fas fa-shield-alt text-blue-500 text-4xl"></i>
          <h1 class="text-2xl font-bold ml-2">WIDS Admin</h1>
        </div>
      </div>

      <div id="login-form" class="block">
        <h2 class="text-xl font-semibold mb-6 text-center">
          Login to your account
        </h2>
        <div
          id="login-error"
          class="hidden mb-4 p-3 bg-red-100 text-red-700 rounded-md"
        ></div>

        <div class="mb-4">
          <label
            for="login-username"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Username</label
          >
          <input
            type="text"
            id="login-username"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Enter your username"
          />
        </div>

        <div class="mb-6">
          <label
            for="login-password"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Password</label
          >
          <input
            type="password"
            id="login-password"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Enter your password"
          />
        </div>

        <div class="flex items-center justify-between">
          <button
            id="login-btn"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
          >
            Sign In
          </button>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
  </body>
</html>
